body{
  background-image: linear-gradient(152.11deg, #0FB786 0%, #B0DF77 100%);
  min-width:100%;
	min-height: 100vh;
}

.wrapper{ 
  grid-template-columns: 0.5fr 2fr 0.5fr 2fr; 
  grid-template-rows: 5fr; 
  grid-template-areas: ". header . signin"
                       " . . . ."
                       ". content . pic"
                       " . content_2 . pic"
                       " . content_3 . pic";
}

.header{ 
  position: absolute;
  left: 10.42%;
  right: 89.36%;;
  top: 3.02%;
  bottom: 94.09%;
  letter-spacing:0.05em; 
}

.content{
  position: absolute;
  left: 10.49%;
  right: 56.04%;
  top: 21.26%;
  bottom: 75.2%;

}
.slidecontainer{
  position: absolute;
  left: 57.22%;
  right: 10.62%;
  top: 21%;
  bottom: 20.73%;
  border: 1px solid white;
}

.slide{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  centerMode: true;
  
}

.slide:hover{
  opacity:1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
.signin{
  font-family: Work Sans;
  font-style: normal;
  font-size: 15px;
  white-space: nowrap;
  letter-spacing: 0.05em;
  position: absolute;
  left: 89.58%;
  right: 10.62%;
  top: 3.02%;
  bottom: 94.09%;
}

.content_2{
  position:absolute;
  left: 10.49%;
  right: 78.12%;
  top: 59.71%;
  bottom: 35.04%;
}
.div{
  font-family: Work Sans;
}

#subtitle{
  color: white;
  font-weight:100;
}

#header_1{
  color:white;
  margin-bottom:0;
  font-weight: 600;
}
#create{ 
  color:#0FB786;
  font-size: 18px;
  text-align:center;
  letter-spacing:0.05em;
}
.signin a{
  text-decoration:none;
  color: #FFFFFF;
  
}

.alert_1{
  background: #0FB786;
  background-clip: padding-box;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  padding: 5px;
  color: #FFFFFF;
  font-style: bold;
  font-size:12px;
}
.alert_2{
  padding-left:5px;
  font-size: 15px;
}

#alert {
  padding: 8px;
  background-color: #FAF9F9; /* White */
  opacity: 0.5;
  border-radius:25px;
 
}
